html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: white;
  overflow-x:hidden;
}

header {
  display: grid;
  width: 100%;
  grid-template-rows: 10vh 1.5vh;
}

nav {
  grid-row: 1;
  padding: 0;
  width: 100%;
  height: 10vh;
}

.mainNav {
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  overflow: hidden;
  margin-left: 5%;
  height: 10vh;
}

.mainNav li {
  float: left;
}

.mainNav a {
  font-family: "Changa", sans-serif;
  text-decoration: none;
  color: #707070;
  display: block;
  margin: 10px;
  margin-right: 50px;
  font-size: 4vh;
}

.mainNav #twitIcon {
  margin-top: 5px;
  margin-right: 5%;
  float: right;
}

.mainNav #twitIcon a {
  background-image: url("TemplateData/Twitterrealreal.png");
  height: 50px;
  width: 50px;
  clip-path: circle(50%);
}

#divider {
  grid-row: 2;
  height: auto;
  width: 90%;
  margin: 0 auto 0 auto;
  background-color: #A5A5A5;
  clip-path: polygon(99% 99%, 100% 0%, 0% 0%, 1% 99%);
}

article {
  background-image: url(TemplateData/abstract-1779564_960_720.png);
}

.homeArticle {
	margin: 0;
	display: grid;
	grid-template-columns: auto 15vw 30vw 30vw 15vw auto; 
  grid-template-rows: 88.5vh 90vh 10vh;
}

h1 {
  font-family: "Changa", sans-serif;
  font-size: 13em;
  margin: 0.5em 0 1.5em 0;
  text-align: center;
  grid-column: 2 / 6;
  grid-row: 1 / 2;
  margin: 15vh auto auto auto;
  text-shadow: -5px -5px 0 white, 5px -5px 0 white, -5px 5px 0 white, 5px 5px 0 white;
}

h2 {
  font-family: "Changa", sans-serif;
  text-align: center;
  font-size: 9em;
  margin: 0em;
  padding: 0em;
}

p {
  font-family: "Changa", sans-serif;
}

.aboutArticle {
  display: grid;
  grid-template-columns: 25vw 50vw 25vw; 
  grid-template-rows: 5vh 20vh 5vh 45vh 13vh;
}

.aboutArticle h2 {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  color: black;
  text-shadow: -5px -5px 0 white, 5px -5px 0 white, -5px 5px 0 white, 5px 5px 0 white;
}

.aboutArticle .Description {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
  margin: 0;
  background-color: #827777;
  clip-path: polygon(90% 5%, 80% 80%, 10% 90%, 0 0%);
}

.aboutArticle .Description p {
  font-size: 1.5em;
  color: white;
  margin: 30px 20% 30px 20%;
}

.Controls {
  grid-column: 1 / 7;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: auto 15vw 35vw 10vw 15vw 15vw auto; 
  grid-template-rows: 5vh 20vh 10vh 40vh 10vh 5vh;
  background-color: #827777;
  clip-path: polygon(100% 0, 100% 90%, 0% 100%, 0 10%);
}

.Controls h2 {
  grid-row: 2 / 3;
  grid-column: 1 / 8;
  color: white;
}

#Controller{
  grid-row: 4 / 5;
  grid-column: 3 / 4;
  width: 35vw;
  height: auto;
  margin: auto 0 auto 0;
}

.Controls .Description {
  grid-row: 4 / 5;
  grid-column: 5 / 6;
  margin: auto 0 auto 0;
}

.Controls .Description p {
  font-family: "Changa", sans-serif;
  font-size: 1em;
  margin: 0em;
  color: white;
}

.Controls .Description #firstP {
  margin: 0 0 1vh 0;
  font-size: 1.5em;
}

.Controls .Description #secondP {
  margin: 2vh 0 1vh 0;
  font-size: 1.5em;
}

.playArticle {
  width: 100%;
  height: 88vh;
}

.webgl-content {
  border: 0;
  margin: 0;
  padding: 0;
}
.webgl-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.webgl-content .logo,
.progress {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.webgl-content .logo {
  background: url("TemplateData/progressLogo.Light.png") no-repeat center /
    contain;
  width: 154px;
  height: 130px;
}
.webgl-content .progress {
  height: 18px;
  width: 141px;
  margin-top: 90px;
}
.webgl-content .progress .empty {
  background: url("TemplateData/progressEmpty.Light.png") no-repeat right /
    cover;
  float: right;
  width: 100%;
  height: 100%;
}
.webgl-content .progress .full {
  background: url("TemplateData/progressFull.Light.png") no-repeat left / cover;
  float: left;
  width: 0%;
  height: 100%;
}

.webgl-content .logo.Dark {
  background-image: url("TemplateData/progressLogo.Dark.png");
}
.webgl-content .progress.Dark .empty {
  background-image: url("TemplateData/progressEmpty.Dark.png");
}
.webgl-content .progress.Dark .full {
  background-image: url("TemplateData/progressFull.Dark.png");
}
